body{
    background-color: #0c243c;
}
.container{
    background-color: #fff;
    width: 70%;
    margin:auto;
}
header{
    background-color: #fff;
}
nav{
    background-color: #e94d40;
    text-align: right;
    padding: 10px;
}
.banner{
    background-image: url(../img/large/lemoncake900.jpg);
    height:400px;
    background-size:cover;
    
}
.banner img{
    width: 100%;
    height: auto;
}
main{
    background-color:#fff;

}
.gallery{
    max-width: 70%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;

}

.items img{
    max-width: 70%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}
.prices{
    padding: 10px;
}
.table{
    border-collapse: collapse;
    width: 80%;
}
.table,tr,th,td{
    border:1px solid #0c243c;
}
.footer{
    background-color: #e94d40;
    padding:20px;
    text-align: center;
}
